<h1>Make: <%= @vehicle.make() %></h1>
<h2>Model: <%= @vehicle.model() %></h2>
<h2>Year: <%= @vehicle.year() %></h2>
<h2>Color: <%= @vehicle.color() %></h2>
<h2>Engine Size: <%= @vehicle.engine_size() %></h2>
<h2>Doors: <%= @vehicle.doors() %></h2>

<a href="/"><button type="button">Home</button></a>
